*, *::before, *::after{
    box-sizing: border-box;
}

body{
    margin: 0;
    background: url('../../../public/unsplash_asuyh-_ZX54.jpg') fixed;
    // background-repeat: no-repeat;
    background-size: 100%;
}